body{
    margin: 0;
    padding: 0;
    background: -moz-linear-gradient(top, #f2f2f2 0%, #d9d9d9 12%, #f2f2f2 25%, #d9d9d9 39%, #f2f2f2 50%, #bfbfbf 51%, #d9d9d9 60%, #d9d9d9 76%, #f2f2f2 91%, #d9d9d9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #d9d9d9 0%,#d9d9d9 12%,#f2f2f2 25%,#d9d9d9 39%,#d9d9d9 50%,#d9d9d9 51%,#d9d9d9 60%,#f2f2f2 76%,#d9d9d9 91%,#d9d9d9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #d9d9d9 0%,#d9d9d9 12%,#d9d9d9 25%,#f2f2f2 39%,#d9d9d9 50%,#f2f2f2 51%,#f2f2f2 60%,#d9d9d9 76%,#d9d9d9 91%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2',GradientType=0 );
  
    
}

.home{
  
width: 100%;
height: 100%;
margin: 0;


}

.ShowItems{
width:90;
height: 200px;
margin: 50px;
background-color: red;
padding: 20px;
}

.ImageAndNameItems{
    width: 28%;
    height: 90%;
    background-color: blue;
    float: left; 
      margin: 5px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 1px 1px;
}
.ImageItems{
    width: 100%;
    height: 70%;
    background-color:antiquewhite;
    float: left; 
    border-radius: 12px;
    box-shadow: 1px 1px;
     margin: 2px;

    
}
.NameItems{
     width: 100%;
    height: 30%;
    background-color:aquamarine;
    float: left; 
    border-radius: 12px;
    box-shadow: 1px 1px;
    margin: 2px;
    align-content: center;

    
}
.ItemDescription{
     width: 35%;
    height: 98%;
    background-color:white;
    float: left; 
      margin: 5px;
    border-radius: 12px;
    box-shadow: 1px 1px;

}
.ItemPrice{
    width: 12%;
    height: 98%;
    background-color:blueviolet;
    float: left; 
      margin: 5px;
    border-radius: 12px;
    box-shadow: 1px 1px;

    
}
.ItemsCounter{
     width: 12%;
    height: 98%;
    background-color:burlywood;
    float: left;
    margin: 5px;
    border-radius: 12px;
    box-shadow: 1px 1px;
    padding: auto;
    align-content: center;
    justify-content: center;
    
    
}.UpCountetr{
    width: auto;
    margin: 15px;
  
}
.NumberOfItems{
     width: auto;
    margin: 15px;
    padding: 5px;
}
span{
    padding: 30px;
}
