body{
   
  background-color:#E1B9B9;
    margin: 0;
    padding: 0;
}

/**** Nav Bar *******/

.NavBar{
    width: 100%;
    
}

.MyNavBar{
    width: 100%;
    height: auto;
    float: left;
    background-color: #6C3D3D;
}

.LOGO{
    float: left;
    margin: 10px;
   

}

.LOGOBUTTON{
    border-radius: 10px;
    background: none;
    border: none;
    box-shadow: 1px; 
}

.LOGOIMAGE{
    width: 50px;
    height: 50px;
  
}

.userImage{
    display: none;
    width: 50px;
    height: 50px;
    float: right;
    margin: 10px;
    margin-right: 25px;

}

.userImageImage{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    
}
.SignIn{
    float: right;
    margin: 10px;

}

.SignInBUTTON{
    background: none;
    border: none;
    padding: 15px;
    color:forestgreen;
    border-radius: 12px;
}

.SignInBUTTON:hover{
    background-color: #5F3333;
    color: white;
    
    
}
#container{
background-color:#ffff;
width: 80%;
margin: 0 10% 5% 10%;
border-radius:5px;
float: left;
}



.foodBox1{
background-color:#884444;
margin-bottom:10px;
font-size:105%;
width:45%;
float: left;
margin: 2%;
}

.itemContent{
    
}

 .foodImg{
    width: 25%;
    float: left;
     margin: 2%;


}

.foodImg img{
    width: 60px;
    height: 60px;
    
}


.foodDescription {
   float: left;
    width:69%;
    margin: 1%;
    word-wrap: break-word;
    background-color: aqua;
}
.foodPriceAdd{
    width: 100%;
    float: left;
}


