body{
  
 margin: 0;
 width: 100%;
 height:628px;  
background: #d9d9d9; /* Old browsers */
background: -moz-linear-gradient(top, #f2f2f2 0%, #d9d9d9 12%, #f2f2f2 25%, #d9d9d9 39%, #f2f2f2 50%, #bfbfbf 51%, #d9d9d9 60%, #d9d9d9 76%, #f2f2f2 91%, #d9d9d9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #d9d9d9 0%,#f2f2f2 12%,#f2f2f2 25%,#d9d9d9 39%,#f2f2f2 50%,#d9d9d9 51%,#bfbfbf 60%,#f2f2f2 76%,#bfbfbf 91%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f2f2f2 0%,#f2f2f2 12%,#f2f2f2 25%,#d9d9d9 39%,#bfbfbf 50%,#f2f2f2 51%,#bfbfbf 60%,#f2f2f2 76%,#d9d9d9 91%,#bfbfbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2',GradientType=0 ); 
}
/*
.homeDiv {
 margin: 0;
 width: 100%;
 height:628px;  
background: #d9d9d9; /* Old browsers */
background: -moz-linear-gradient(top, #f2f2f2 0%, #d9d9d9 12%, #f2f2f2 25%, #d9d9d9 39%, #f2f2f2 50%, #bfbfbf 51%, #d9d9d9 60%, #d9d9d9 76%, #f2f2f2 91%, #d9d9d9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #d9d9d9 0%,#f2f2f2 12%,#f2f2f2 25%,#d9d9d9 39%,#f2f2f2 50%,#d9d9d9 51%,#bfbfbf 60%,#f2f2f2 76%,#bfbfbf 91%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f2f2f2 0%,#f2f2f2 12%,#f2f2f2 25%,#d9d9d9 39%,#bfbfbf 50%,#f2f2f2 51%,#bfbfbf 60%,#f2f2f2 76%,#d9d9d9 91%,#bfbfbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}*/

.ResuarantLogo{
    align-content: center;
    justify-content: center;
    
}

.ResuarantLogo .logo{
    width: 150px;
    height: 150px;
    display: block;
     margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.mySlides { 
    display:none;
    width: 450px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
   border-radius: 10px;

}
container-fluid {
    align-content: center;

}
.properties{
    width: 100%;
   align-content: center;
    text-align: center;
 
}


.properties img {
    width: 65px;
    height: 63px;
    margin: 10px;
}

.footer{
    width: 100%;
    height: auto;
    padding: 25px;
    text-align: center;
    background-color: #a3a9ae;
}


/***************** LOGIN **************************/

input[type=text], input[type=password] {
    width:55%;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    border: 3px solid #ccc;
	font-size:16px;
    background-color: white;
    border-radius: 25px;
}

/* The Modal (background) */

.close {
  padding: 10px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}




/**************   Login & Register Pop Up  *****************/

.LoginPopContainer{
   display: none;
    background-color: #80ffbe;
    align-content: center;
    width: 50%;
    height: auto;
    padding: 0px;
    position: absolute;
    top: 100px;
    left: 25%;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 3px 3px;
    

}
.ROW { 
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
   
    
    
}

 h1{
     padding: 10px;
    
} 

.RegisterColumn{
    width: 50%;
    float: left;
}
.col-6 input[type=button], .RegisterROW input[type=button] , .col-6 button {
    background-color: #494;
    font-style: oblique;
     font-size: 20px;
     margin: 12px;
     padding:0 15px 0 15px;
    height: auto;
}


.Register{
    display: none;
    background-color: #80ffbe;
    align-content: center;
    width: 50%;
    padding: 5px;
    position: absolute;
    top:85px;
    left: 25%;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    box-shadow: 2px 3px;
}
.RegisterROW{ 
    width: 100%;
    margin: auto;
    
}

.RegisterColumn input[type=text], .RegisterColumn input[type=password] {
    width:95%;
    padding: 12px;
    margin: 10px;
    display: inline-block;
    border: 3px solid #ccc;
	font-size:16px;
    background-color: white;
    border-radius: 25px;
}

input.addText{
    border-radius: 0;
    width: 95%;
    
}

span{
    font color: black;
}


/****************Hello Page Home ****************/

.home{
     width: 100%;
    height: 100%;
    
}
.ShowItems{
    background-color: red;
    position: inherit;
    margin-top: 20px;
    width: auto;
    height: 100%;
    max-height: 220px;
    border-radius: 13px;
    box-shadow: 2px 3px;
    padding: 20px;
    padding-left: 50px;
    margin: 6%;
    
}

.ImageAndNameItems{
    width: 28%;
    height: 100%;
    float: left;
    background-color: blue;
    padding: 10px;
}

.ImageItems{
    width: 100%;
    height: 72%;
    background-color: burlywood;
    border-radius: 25px;
     padding: 10px;

    
}


.NameItems{
    width: 100%;
    height: 28%;
    background-color: chartreuse;
    margin-top: 5px;
    border-radius: 12px;
    padding: 10px;
    
}


.ItemDescription{
    width: 42%;
    height: 100%;  
    background-color: darkgray;
    margin-left: 15px;
    float: left; 
    padding: 10px;



}

.ItemPrice{
    width: 13%;
    height: 100%;
    background-color: darkorange;
    float: left;
    padding: 10px;
    border-radius: 13px;
    margin-left: 20px;
     padding: 10px;

}

.ItemsCounter{
    width: 10%;
    height: 100%;
    background-color: darkseagreen;
    float: left;
    padding: 20px;
    border-radius: 13px;
    margin-left: 20px;
    
    
}

.UpCountetr{
    width: 100%;
    margin-left: 5%;
    height: 30%;
    background-color: azure;
    border-radius: 120px;
}


.NumberOfItems{
    width: 100%;
    
        padding: 10px;

    margin: 5px;
    height: 30%;
    background-color: deepskyblue;
    
}













/*********** Responsive Website **********/

 @media screen and (max-width: 900px) {
.LoginPopContainer{
    width: 65%;
    left: 22%;


    

}
     .Register{
         width: 65%;
         left: 20%;
     } 
     
      .ImageAndNameItems{
    width: 20%;
    padding: 5px;
}

.ItemDescription    {
    width: 30%;
    padding: 5px;
}
     .ItemPrice{
         padding: 0;
     }
     .ItemsCounter{
         padding: 0;
     }
     .ShowItems{
     padding: 0;
     }
}

      @media screen and (max-width: 780px) {
.LoginPopContainer{
    width: 70%;
    left: 12%;


    

}
           .Register{
         width: 76%;
         left:12%;
               
         
     }
          
 .ImageAndNameItems{
    width: 20%;
    padding: 5px;
}

.ItemDescription    {
    width: 30%;
    padding: 5px;
}
          
           ..ItemPrice{
         padding: 0;
     }
          
          

}
          @media screen and (max-width: 680px) {
.LoginPopContainer{
    width: 80%;
    left: 10%;


    

}
      .Register{
         width: 80%;
         left:10%;
         
     }

}
     
 @media screen and (max-width: 500px) {


.properties img {
    width: 50px;
    height: 50px;
    margin: 10px;
}
     .mySlides { 
    display:none;
    width: 350px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
   border-radius: 10px;

}
     .LoginPopContainer{
    width: 90%;
    left: 5%;

}
     input[type=text], input[type=password] {
    width:75%;
     }
     
           .Register{
         width: 96%;
         left:2%;
         
     }
     }
     
   